*.generated.tsx linguist-generated
src/graphql/types.ts linguist-generated
src/graphql-client/*.ts linguist-generated
src/graphql/ads-serve.graphql.schema.json linguist-generated
*.po linguist-generated
