html {
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}

input[type="datetime-local"]::-webkit-inner-spin-button {
  display: none;
}
