@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}

input[type="datetime-local"]::-webkit-inner-spin-button {
  display: none;
}

.ReactModal__Overlay {
  z-index: 100000;
  background-color: rgb(0,0,0,0.3) !important;
}