name: Deploy to Production
on:
  push:
    branches: [prod]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://ads.brave.com

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - name: Use Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".node-version"
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm check
      - name: Build
        env:
          REACT_APP_SERVER_ADDRESS: ${{ secrets.REACT_PRODUCTION_APP_SERVER_ADDRESS }}
          REACT_APP_GIT_SHA1: ${{ github.sha }}
        run: |
          export REACT_APP_BUILD_TIME=$(date -Iseconds)
          pnpm build
      - run: pnpm test
      - name: Deploy static files
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PRODUCTION_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PRODUCTION_SECRET_ACCESS_KEY }}
          AWS_REGION: us-west-2
          CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_PRODUCTION_DISTRIBUTION_ID }}
        run: |
          cd build
          aws s3 sync ./static/ "s3://ads-ui-production/static/" --cache-control "max-age=31536000, public"
          aws s3 sync . "s3://ads-ui-production/" --exclude "static/*" --cache-control "max-age=60, public"
          aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
