name: Deploy to Production
on:
  push:
    branches: [prod]

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://ads.brave.com

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.0
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        env:
          REACT_APP_SERVER_ADDRESS: ${{ secrets.REACT_PRODUCTION_APP_SERVER_ADDRESS }}
          # setting CI to false is temporary, while we still have lint errors
          CI: false
        run: npm run build
      - run: npm check:audit
      - run: npm test
      - name: Deploy static files
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PRODUCTION_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PRODUCTION_SECRET_ACCESS_KEY }}
          AWS_REGION: us-west-2
          CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_PRODUCTION_DISTRIBUTION_ID }}
        run: |
          aws s3 sync build/ s3://ads-ui-production/ --delete
          aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
