on:
  schedule:
    - cron: "42 3 * * *"

# see https://docs.github.com/en/actions/managing-issues-and-pull-requests/closing-inactive-issues
jobs:
  stale-issues:
    name: Close inactive issues and PRs
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          days-before-issue-stale: 365
          days-before-issue-close: 7
          stale-issue-label: "stale"
          stale-issue-message: "This issue is stale because it has been open for over a year with no activity. Remove stale label or add a comment to avoid this being closed in a weeks time."
          close-issue-message: "This issue was closed because it has been inactive for a week since being marked as stale."
          days-before-pr-stale: 60
          days-before-pr-close: 7
          stale-pr-label: "stale"
          stale-pr-message: "This PR is stale because it has been open for two months with no activity. Remove stale label or add a comment to avoid this being closed in a weeks time."
          close-pr-message: "This PR was closed because it has been inactive for a week since being marked as stale."
          ascending: true
